._*
.#*
.DS_Store
.idea
.vscode/*
!.vscode/launch.json
*.log
*.pyc
*.pydevproject
*.swo
*.swp
*.wpr
*~
\#*#
app/cockpit/s3cache*
build
dist
*.egg-info/
skaffold.yaml
src
telepresence.log
*.kak.*
.env
